* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

img {
    width:45px;
    border-radius: 50%;
    margin: 0 10px;
}


/* background */
#background-div {
    position:absolute;
    z-index: 1;
    top:0;
    right:0;
    left:0;
    bottom:0;
}

#green-bar {
    min-height: 100px;
    background-color: #1d9688;
    position:absolute;
    top:0;
    width:100%;
}

#background-page {
    background-color: #d8dbd5;
    position:absolute;
    top:100px;
    height: calc(100vh - 100px);
    width:100%;
}

/* MAIN  */

.debug {
    border:1px solid black;
}

.container {
    display:flex;
    width: 88vw;
    height:94vh;
    margin:3vh auto;
    position:relative;
    z-index: 999;
    justify-content: center;
}

/* aside (LEFT) */

.contacts {
    display:flex;
    flex-direction: column;
    min-width: 200px;
    width:30%;
    height:100%;
}

/* User Info */
.userName {
    display:flex;
    justify-content: flex-start;
    height:60px;
    width:100%;
    background-color: #eaeaea;
}

.userName-details {
    width:50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}


.userName-icons {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userName-icons i {
    font-size: 20px;
    margin:0 15px;
    color:#b1b1b1;
}

/* notifications */

.notifications {
    display:flex;
    align-items: center;
    height:70px;
    width:100%;
    background-color:#8edafc;
}

.notifications i {
    font-size: 22px;
    border-radius: 50%;
    color:#8edafc;
    background-color: white;
    margin: 0 12px;
    padding:10px;
}

.notifications-text {
    display:flex;
    flex-direction: column;
    font-size: 15px;
}

.notifications-text .bold {
    font-weight: bold;
}

.notifications a {
    color:#507687;
}

/* container search e contatti */

.contacts-container {
    position:relative;
    display:flex;
    flex-direction: column;
    height:calc(100% - 130px);
    width:100%;
    background-color: #fafafa;
}

/* SearchBar */
.searchBar {
    display:flex;
    align-items: center;
    height:60px;
    width:100%;
    position:relative;
}

.searchBar input {
    width:98%;
    height:70%;
    padding-left: 20px;
    margin-left:5px;
    color:#aaaaaa;
}

.searchBar i {
    position: absolute;
    left:15px;
    color: #b6b9bb;
}

/* contatti */

.contacts-box {
    position: relative;
    height:calc(100% - 30px);
    width:97%;
    border-right: 1px solid #b6b9bb;
    background-color: white;
}

.contact {
    position: relative;
    display:flex;
    height:70px;
    width:100%;
    border-top: 1px solid #b6b9bb;
    background-color: white;
}

.img-container {
    display: flex;
    align-content: center;
    padding:10px 0;
}

.text-container {
    width:100%;
    position:relative;
    margin-left:10px;
    margin-top: 8px;
}

.text-container p {
    font-size: 14px;
    color: #b6b9bb;
}

.text-container span {
    position:absolute;
    font-size: 14px;
    top:2px;
    right:5px;
    color:#b6b9bb;
}

.contact:hover {
    background-color: #e9ebeb;
}



/* section (RIGHT) */
.chat-container {
    display:flex;
    flex-direction: column;
    width:70%;
    height:100%;
}

/* barra in alto del contatto */
.opened-contact {
    display:flex;
    height:60px;
    width:100%;
    background-color: #eaeaea;
}

.opened-contact img {
    margin:8px 10px;
}

.opened-contact-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start ;
    margin-left: 10px;
    width:60%;
}

.opened-contact-right {
    display:flex;
    flex-direction: row;
    width:32%;
    justify-content: flex-end;
    align-items: center;
}

.opened-contact-right i {
    margin:0 15px;
    font-size: 20px;
    color: #b6b9bb;

}


/* riquadro della chat */

.background-chat {
    background-color: white;
    width:100%;
    height:calc(100% - 115px);
}
.chat {
    display:flex;
    flex-direction: column;
    height: 100%;
    width:98%;
    background-image: url(img/mine.jpg);
}

.message {
    display:flex;
    align-items: center;
    height:30px;
    width:30%;
    padding: 20px 20px;
    margin:5px 0;
    border-radius: 10px;
    border:1px solid red;
}

.message.sent {
    display: flex;
    background-color: #d5f9ba;
    
}

.message.received {
    display: flex;
    background-color: white;

}




/* sezione Scrivi messaggio in fondo */
.write-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:65px;
    width:100%;
    background-color: #f3eeea;
}

.write-message input {
    width:85%;
    height:80%;
    margin:0 20px;
    padding-left:20px;
    border-style: none;
    border-radius: 5px;
    color: #f3eeea;
}

.write-message i {
    font-size: 25px;
    margin:0 20px;
    color:#6b7377;
}



