*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* background */
#background-div {
    position:absolute;
    z-index: 1;
    top:0;
    right:0;
    left:0;
    bottom:0;
}

#green-bar {
    min-height: 100px;
    background-color: #1d9688;
    position:absolute;
    top:0;
    width:100%;
}

#background-page {
    background-color: #d8dbd5;
    position:absolute;
    top:100px;
    height: calc(100vh - 100px);
    width:100%;
}

/* MAIN  */

.debug {
    border:1px solid black;
}

#container {
    display:flex;
    width: 88vw;
    height:94vh;
    margin:3vh auto;
    background: blue;
    position:relative;
    z-index: 999;
    justify-content: center;
}

/* aside (left) */

.contacts {
    display:flex;
    flex-direction: column;
    min-width: 200px;
    width:30%;
    height:100%;
    background-color: red;

}

/* section (RIGHT) */
.chat {
    display:flex;
    width:70%;
    height:100%;
    background-color: green;
}



